{% extends 'product-base.html' %}

{% block page %}

<section class="map-markers-product-page">
  <div class="row extra-padding-top extra-padding-bottom">
    <div class="columns extra-padding-bottom extra-margin-bottom">

      <h2 class="some-padding-bottom">Choose from our library of starter map markers!</h2>

      <div class="unfocused-marker-grid">
      </div>

      <div class="focused-marker-grid">
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/abandoned-bike.png"
       alt="abandoned-bike"
       title="abandoned-bike">
  <label>abandoned-<wbr>bike</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/bike-conflict.png"
       alt="bike-conflict"
       title="bike-conflict">
  <label>bike-<wbr>conflict</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/bike-crossing.png"
       alt="bike-crossing"
       title="bike-crossing">
  <label>bike-<wbr>crossing</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/bike-parking.png"
       alt="bike-parking"
       title="bike-parking">
  <label>bike-<wbr>parking</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/bike.png"
       alt="bike"
       title="bike">
  <label>bike</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/biking.png"
       alt="biking"
       title="biking">
  <label>biking</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/blank.png"
       alt="blank"
       title="blank">
  <label>blank</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/business.png"
       alt="business"
       title="business">
  <label>business</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/clock.png"
       alt="clock"
       title="clock">
  <label>clock</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/crime.png"
       alt="crime"
       title="crime">
  <label>crime</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/crosswalk-long.png"
       alt="crosswalk-long"
       title="crosswalk-long">
  <label>crosswalk-<wbr>long</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/crosswalk.png"
       alt="crosswalk"
       title="crosswalk">
  <label>crosswalk</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/crosswalk-time.png"
       alt="crosswalk-time"
       title="crosswalk-time">
  <label>crosswalk-<wbr>time</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/cyclist.png"
       alt="cyclist"
       title="cyclist">
  <label>cyclist</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/double-parking.png"
       alt="double-parking"
       title="double-parking">
  <label>double-<wbr>parking</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/education.png"
       alt="education"
       title="education">
  <label>education</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/facilites.png"
       alt="facilites"
       title="facilites">
  <label>facilites</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/fav-route.png"
       alt="fav-route"
       title="fav-route">
  <label>fav-<wbr>route</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/fountain.png"
       alt="fountain"
       title="fountain">
  <label>fountain</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/gap-in-network.png"
       alt="gap-in-network"
       title="gap-in-network">
  <label>gap-<wbr>in-<wbr>network</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/health.png"
       alt="health"
       title="health">
  <label>health</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/housing.png"
       alt="housing"
       title="housing">
  <label>housing</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/idea.png"
       alt="idea"
       title="idea">
  <label>idea</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/jaywalking.png"
       alt="jaywalking"
       title="jaywalking">
  <label>jaywalking</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/observation.png"
       alt="observation"
       title="observation">
  <label>observation</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/park-river.png"
       alt="park-river"
       title="park-river">
  <label>park-<wbr>river</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/pedestrian.png"
       alt="pedestrian"
       title="pedestrian">
  <label>pedestrian</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/playground.png"
       alt="playground"
       title="playground">
  <label>playground</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/safety.png"
       alt="safety"
       title="safety">
  <label>safety</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/seniors.png"
       alt="seniors"
       title="seniors">
  <label>seniors</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/speeding.png"
       alt="speeding"
       title="speeding">
  <label>speeding</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/street-heat.png"
       alt="street-heat"
       title="street-heat">
  <label>street-<wbr>heat</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/street-sidewalk.png"
       alt="street-sidewalk"
       title="street-sidewalk">
  <label>street-<wbr>sidewalk</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/street-tree.png"
       alt="street-tree"
       title="street-tree">
  <label>street-<wbr>tree</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/sunglasses.png"
       alt="sunglasses"
       title="sunglasses">
  <label>sunglasses</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/thumbs-down.png"
       alt="thumbs-down"
       title="thumbs-down">
  <label>thumbs-<wbr>down</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/thumbs-up.png"
       alt="thumbs-up"
       title="thumbs-up">
  <label>thumbs-<wbr>up</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/traffic-light-green.png"
       alt="traffic-light-green"
       title="traffic-light-green">
  <label>traffic-<wbr>light-<wbr>green</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/traffic-light.png"
       alt="traffic-light"
       title="traffic-light">
  <label>traffic-<wbr>light</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/traffic-light-red.png"
       alt="traffic-light-red"
       title="traffic-light-red">
  <label>traffic-<wbr>light-<wbr>red</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/traffic-light-yellow.png"
       alt="traffic-light-yellow"
       title="traffic-light-yellow">
  <label>traffic-<wbr>light-<wbr>yellow</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/traffic.png"
       alt="traffic"
       title="traffic">
  <label>traffic</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/transit.png"
       alt="transit"
       title="transit">
  <label>transit</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/tree.png"
       alt="tree"
       title="tree">
  <label>tree</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/walking-biking.png"
       alt="walking-biking"
       title="walking-biking">
  <label>walking-<wbr>biking</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/yield.png"
       alt="yield"
       title="yield">
  <label>yield</label>
</span>
<span class="marker-wrapper">
  <img src="{{settings.PLANBOX_FLAVORS_ROOT_URL}}map-markers/youth.png"
       alt="youth"
       title="youth">
  <label>youth</label>
</span>
      </div>

      <div class="row">
        <div class="small-12 medium-10 medium-centered large-8 columns">
          <div class="panel">
            <h3>Need different markers?</h3>
            <div class="row">
              <div class="small-24 columns">
                <p class="some-margin-bottom">We're constantly building our library. If you don't see markers that fit the needs of your map, <strong>let us know.</strong></p>
                <a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom button expand small less-padding"><strong>CONTACT US</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'pricing-section.html' %}

    </div>
  </div>
</section>

{% endblock %}
