<div class="row some-padding-bottom">
  <div class="medium-6 large-3 columns">
    <ul class="pricing-table">
      <li class="title">Project</li>
      <li class="price">$250<small>/month <small><strong>OR</strong></small></small></li>
      <li class="price">$2,500<small>/year</small></li>
      <!-- <li class="price" style="background-color:PaleGreen;position:relative;box-shadow:0 0 8px 2px Green;border-radius:3px;text-shadow:1px 1px 0 PaleGreen;margin-right:-2px;margin-left:-3px;"><span style="position:absolute;top:-0.75em;left:-0.75em;-webkit-transform:rotate(-18deg);background-color:DimGray;font-weight:bold;color:#fff;font-size:12px;line-height:1.2;padding:0.875em 0.75em;border-radius:100%;box-shadow: 0 0 8px 2px LightGreen;font-family:Bitter,sans-serif;text-shadow:none;">BEST<br>DEAL</span>$2,900<small> one-time</small></li> -->
      <!-- TODO: make TRIAL_DAYS works as a variable -->

      <!-- <li class="description">Maps are free for 15 days. After that, you can pay as you go. For longer projects, a one-time payment can save you <strong>20%&nbsp;or&nbsp;more</strong>.</li> -->

      <li class="bullet-item">Unlimited team members</li>
      <li class="bullet-item"><strong>Up to 2 live maps</strong></li>
    </ul>
  </div>
  <div class="medium-6 large-3 columns">
    <ul class="pricing-table">
      <li class="title">City</li>
      <li class="price">$500<small>/month <small><strong>OR</strong></small></small></li>
      <li class="price">$5,000<small>/year</small></li>

      <!-- <li class="description">Maps are free for 15 days. After that, you can pay as you go. For longer projects, a one-time payment can save you <strong>20%&nbsp;or&nbsp;more</strong>.</li> -->

      <li class="bullet-item">Unlimited team members</li>
      <li class="bullet-item"><strong>Up to 6 live maps</strong></li>
    </ul>
  </div>
  <div class="medium-6 large-3 columns">
    <ul class="pricing-table">
      <li class="title">Firm</li>
      <li class="price">$750<small>/month <small><strong>OR</strong></small></small></li>
      <li class="price">$7,500<small>/year</small></li>

      <!-- <li class="description">Maps are free for 15 days. After that, you can pay as you go. For longer projects, a one-time payment can save you <strong>20%&nbsp;or&nbsp;more</strong>.</li> -->

      <li class="bullet-item">Unlimited team members</li>
      <li class="bullet-item"><strong>Up to 12 live maps</strong></li>
    </ul>
  </div>
  <div class="medium-6 large-3 columns">
    <ul class="pricing-table">
      <li class="title">Custom &amp; Support</li>
      <li class="description">Need more? We offer consultation, unlimited email &amp; phone support, daily email reports tailored to fit your project, custom map layers, survey configuration, icons, colors, domain name&hellip;</li>
      <!-- TODO: make PLANBOX_CONTACT_EMAIL works as a variable -->
      <li class="bullet-item"><a href="mailto:{{ settings.PLANBOX_CONTACT_EMAIL }}" class="open-intercom"><strong>CONTACT US TO LEARN MORE</strong></a></li>
    </ul>
  </div>
</div>
